<!DOCTYPE html>
<html>
<head>
  <title>Node.js Form Demo Application</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
  <div class="container">

 <!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
  <span class="glyphicon glyphicon-scale" aria-hidden="true"></span>  COVID-19
    IBM HACK-2020
  </a>
</nav>


<div class="jumbotron">
<h2> Sentiment Analysis Duing COVID-19 Pandamic <span class="badge badge-secondary">New</span></h2>
    <!-- <h3>Please enter your name</h3> -->

    <div class="row">
      <div class="col-md-5">

        <form method="post" action="/form-submit">
          <div class="form-group">
            <label for="dateInput"> Date </label>
            <input type="Date" class="form-control" id="dateInput" placeholder="Enter Date" name="Date">

            <label for="stateInput"> State </label>
            <input type="number" class="form-control" id="stateInput" placeholder="Enter State" name="State">


          </div>
          <button type="submit" class="btn btn-dark btn-lg">Submit</button>
        </form>

        </div>


    

      </div>
    </div>

    <div class="alert alert-dark" role="alert">
  Better to wear a mask than a ventilator; better to stay at home than in an ICU!
</div>
  
  
 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
